/* 导入变量和混合器 */
@import "./variables";
@import "./mixins";

/* 按钮样式 */
.vik-button {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  cursor: pointer;
  background: $color-white;
  // border: 1px solid $color-border-4;
  border: none;
  color: $color-main;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 0 20px;
  font-size: $font-base;
  border-radius: 8px;
  position: relative;

  /* 鼠标悬停状态 */
  &:hover {
    // transform: translate3d(0, -3px, 0);
    box-shadow: 0 10px 20px rgba($color-black, .2);

    &::after {
      transform: scale3d(1.4, 1.6, 0);
      opacity: 0;
    }
  }

  /* 按钮按下状态 */
  &:active {
    transform: translate3d(0, -1px, 0);
    box-shadow: 0 5px 10px rgba($color-black, .2);
  }

  /* 伪类样式 */
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .4s;
  }

  /* 按钮颜色变体 */
  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--success {
    background-color: $color-success;
    color: $color-white;

    &::after {
      background-color: $color-success;
    }
  }

  &--warning {
    background-color: $color-warning;
    color: $color-white;

    &::after {
      background-color: $color-warning;
    }
  }

  &--danger {
    background-color: $color-danger;
    color: $color-white;

    &::after {
      background-color: $color-danger;
    }
  }

  &--info {
    background-color: $color-info;
    color: $color-white;

    &::after {
      background-color: $color-info;
    }
  }

  &--dark {
    background-color: $color-main;
    color: $color-white;
  }

  /* 圆角样式变体 */
  &.is-round {
    border-radius: 100px;

    &::after {
      border-radius: 100px;
    }
  }

  /* 禁用按钮样式 */
  &.is-disabled {
    filter: contrast(0.5) brightness(1.4);
    // border: 1px solid $color-white;
    cursor: not-allowed;
  }

  /* 禁用状态下的鼠标悬停 */
  &.is-disabled:hover {
    &:hover {
      transform: translate3d(0, 0, 0);
      box-shadow: none;

      &::after {
        transform: scale3d(0, 0, 0);
        opacity: 0;
      }
    }
  }

  /* 按钮尺寸变体 */
  &--mini {
    height: 30px;
    line-height: 28px;
    font-size: $font-mini;
    border-radius: 4px;
  }

  &--small {
    height: 40px;
    line-height: 38px;
    font-size: $font-small;
    border-radius: 6px;
  }

  &--large {
    height: 60px;
    line-height: 58px;
    font-size: $font-large;
  }

  /* 宽度变体 */
  &.is-fill,
  &--small.is-fill,
  &--small.is-base,
  &--small.is-large {
    width: 100%;
  }
}
