@import "./variables";
@import "./mixins";

.viking-card {
  cursor: pointer;
  position: relative;
  background-color: $color-white;

  &--shadow {
    box-shadow: 0 0 5px $color-border-1;
  }

  &--border {
    border: 1px solid $color-border-1;
  }

  &--active {
    outline: 2px solid $color-primary;
    outline-offset: -1px;
  }

  &__cover {
    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    @include omits(1);
    padding: 0 5px;
    font-size: $font-small;
    color: $color-main;
    line-height: 24px;
    margin: 0;

    &--omits2 {
      @include omits(2);
      height: 48px;
    }
  }

  &__close {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    right: -0.5em;
    top: -0.5em;
    z-index: 999;
    border: 1px solid $color-white;
    background-color: $color-danger;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: $color-white;
    @include card-shadow;

    &:hover {
      @include card-shadow-lg;
    }
  }

  &__active {
    @include absCenter;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: $color-primary;
    color: $color-white;
    font-size: 20px;
  }
}

.ratio-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &__box {
    @include absolute;
  }

  &__source {
    width: 100%;
    height: 100%;
  }
}

.viking-plus-card {
  border: 1px dashed $plus-border-color;
  border-radius: 4px;
  background-color: $plus-bg-color;
  cursor: pointer;

  &:hover {
    border: 1px dashed $color-primary;
  }


  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: $plus-text-color;
  }
}
