@import "./variables";
@import "./mixins";
.viking-divider {
  display: block;
  height: 1px;
  width: 90%;
  margin: 24px auto;
  background-color: $color-border-1;
  position: relative;

  &__text {
    @include absCenter;
    background-color: $color-white;
    padding: 0 20px;
    font-weight: 500;
    color: $color-main;
    font-size: $font-base;
  }
}
