@import "./variables";
@import "./mixins";

.base-header {
  height: 50px;
  background-color: $color-white;
  position: relative;
  border-bottom: 1px solid $color-border-3;

  &__heading {
    @include absCenter;
    margin: 0;
    color: $color-main;
    text-align: center;
  
    &--main {
      font-size: $font-base;
      color: currentColor;
      font-weight: 600;
      line-height: 1;
      margin: 0;
      white-space: nowrap;
    }

    &--sub {
      font-size: $font-mini;
      font-weight: 200;
      color: currentColor;
      line-height: 1;
      margin: 0;
      margin-top: 5px;
      white-space: nowrap;
    }
  }

  &__icon {
    @include absolute(50%, auto, auto, 0);
    @include flex-row-center;
    transform: translate3d(0, -50%, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: $color-main;
    font-size: 20px;
  }
}
